"*":
  "atom-clock":
    dateFormat: "HH:mm"
  core:
    projectHome: "/home/noah/dropbox/workspace"
    telemetryConsent: "limited"
  editor:
    fontSize: 16
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "6039a4b9-23d0-9d11-2cba-a5f1baa32995"
  "git-blame":
    columnWidth: 321
  minimap:
    displayMinimapOnLeft: true
  "seti-ui": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  "tree-view": {}
  welcome:
    showOnStartup: false
